# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LearnOpenGL.sln
/Learn-OpenGL
Temp.txt
src/LearnOpenGL.vcxproj.user
src/LearnOpenGL.vcxproj.filters
src/LearnOpenGL.vcxproj
/.vs
/.vscode
/app
/include/*
!/include/stb/*.h
src/glad.c
/src/x64
/x64

